.grid-layout {
    display: grid;
    background-color: #F2F2F2;
    padding: 71px 24px;
}

.box {

    border-radius: 8px;
    padding: 26px 32px 32px;
    margin-bottom: 24px;
    filter: drop-shadow(40px 60px 50px rgba(72, 85, 106, 0.2474));

    &--pink {
        background-color: #733FC8;
        background-repeat: no-repeat;
        background-image: url("/assets/bg-pattern-quotation.svg");
        background-position: right 24px top;

    }

    &--grey {
        background-color: #48556A;
    }

    &--white {
        background-color: #FFFFFF;
    }

    &--grey_dark {
        background-color: #19202D;
    }
}

.heading {
    font-family: Barlow Semi Condensed;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;

    &--white {
        color: #FFFFFF;
    }

    &--grey {
        color: #48556A;
    }
}

.paragraph {
    font-family: Barlow Semi Condensed;
    font-size: 13px;
    line-height: 18px;
    opacity: 0.7;
    margin-bottom: 0;

    &--grey {
        color: #CFCFCF;
    }

    &--white {
        color: #FFFFFF;
    }

    &--grey_dark {
        color: #48556A;
    }
}

.name {
    font-family: 'Barlow Semi Condensed';
    font-size: 13px;
    line-height: 13px;
    margin: 0 0 4px;
    text-align: left;

    &--white {
        color: #FFFFFF;
    }

    &--grey {
        color: #48556A;
    }
}

.status {
    font-family: 'Barlow Semi Condensed';
    font-size: 11px;
    line-height: 11px;
    text-align: left;
    margin: 0;
    opacity: 0.5;

    &--white {
        color: #FFFFFF;
    }

    &__grey {
        color: #48556A;
    }
}

.flex-names {
    display: flex;
    justify-content: flex-start;
    text-align: center;


    &__image {
        height: 28px;
        align-self: center;
        padding-right: 17px;
    }
}